<div class="card-header d-flex justify-content-between">
  <span>Todos:</span>
  <br>
  <%= link_to 'New Todo List', new_todo_list_path, class: 'btn btn-success btn-sm' %>
</div>

<ul class="list-group">
  <% @todo_lists.each do |todo_list| %>
    <li class="list-group-item">
      <%= link_to todo_list.title, todo_list, class: 'btn btn-warning btn-cm' %>
    </li>
  <% end %>
</ul>

