<div class="card-header d-flex justify-content-between">
  <span>
     <%= @todo_list.title %>
  </span>
  <%= link_to 'Edit', edit_todo_list_path(@todo_list), class: 'btn btn-danger btn-sm' %>
</div>

<ul class="list-group">
  <% @todo_list.todo_items.each do |todo_item| %>
    <li class="list-group-item">
      <%= todo_item.description %>
    </li>
  <% end %>
</ul>


